*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: hsl(270, 15%, 95%);
  background-image: url("https://i.ibb.co/ZKDTCY5/vecteezy-dots-world-map-vector-illustration-isolated-9314435-323.png");
  background-size: 100vw 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes fade-in-side {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-card-slow {
  animation: fade-in-side 3s ease 1;
}

.animated-card {
  animation: fade-in-down 1s ease 1;
}
